/* src/App.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}

.main-content {
  padding: 20px;
  padding-bottom: 60px; /* Pour laisser de la place au footer */
}
